.sidebarcontainer{
    margin: 0px;
    padding: 0px;
}
.sidebarcontainer ul{
    margin: 0px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    height: 80vh;
    flex-direction: column ;
    font-size: 23px;
    
}
.sidebarcontainer ul li{

    
    justify-content: space-around;
    display: flexbox;
}